<div class="container">
  <!-- Posts  -->
   <h1>Posts Count - {{paginatedPostList.length}}</h1>
   <h1>Page Number - {{index+1}}</h1>
  <div class="row">
    <ng-container *ngFor="let post of paginatedPostList">
      <div class="col-sm-12 col-md-4">
        <div class="card card-body">
          <h3>{{post?.title}}</h3>
          <p>{{post?.body}}</p>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Pagination -->
   <div class="d-flex mt-3">
      <div *ngFor="let item of paginationCount; let i = index">
        <div class="pagination-item">
          <a (click)="handlePageChange(i)">{{i+1}}</a>
        </div>
      </div>
   </div>
</div>